.backdrop {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(5px);
}

.tour-click-blocker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  z-index: 1102;
}

.tour-new-fade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1099;
  background-color: #000;
  opacity: 0.25;
}

.tour-new-highlight {
  position: absolute;
  z-index: 1100;
  background: #fff;
  transform: translate3d(0, 0, 0);
  transition: all 1s ease;
}

// .tour-new-popper {
//   position: absolute;
//   will-change: transform;
//   top: 0px;
//   left: 0px;
//   z-index: 1100;
//   min-width: 320px;
//   text-align: left;
//   border-radius: 8px;
//   padding: 20px;
//   background: #fff;
//   transform: translate3d(555px, 519px, 0);
// }

// .tour-new-popper[x-placement="bottom"] {
//   margin-top: 12px !important;
// }

// .tour-new-popper[x-placement="top"] {
//   margin-bottom: 12px !important;
// }

