.tour-popper {
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  z-index: 1200;
  min-width: 320px;
  text-align: left;
  border-radius: 8px;
  background: #fff;
  transform: translete(0, 0);
  margin-top: 30px;
  margin-bottom: 30px;
  transition: all 300ms ease-out;
  border-radius: 20px;
  box-shadow: 1px 1px 10px 1px #fff;

  &.top::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 50%;
    min-width: 20px;
    min-height: 20px;
    background: red;
    transform: translate(-50%, 0) rotateZ(45deg);
    background: #fff;
    z-index: -1;
  }
  &.bottom::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    min-width: 20px;
    min-height: 20px;
    background: red;
    transform: translate(-50%, 0) rotateZ(45deg);
    background: #fff;
    z-index: -1;
  }
  &.left::before {
    content: "";
    position: absolute;
    top: 505;
    left: -10px;
    min-width: 20px;
    min-height: 20px;
    background: red;
    transform: translate(0, -50%) rotateZ(45deg);
    background: #fff;
    z-index: -1;
  }
  &.right::before {
    content: "";
    position: absolute;
    top: 505;
    left: -10px;
    min-width: 20px;
    min-height: 20px;
    background: red;
    transform: translate(0, -50%) rotateZ(45deg);
    background: #fff;
    z-index: -1;
  }

  .header {
    background-color: #fff;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 5px;
    border-radius: 20px;
  }

  .content {
    padding: 10px;
    font-size: 14px;
  }

  .controls {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-evenly;
    align-items: center;
  }

  .stepper {
    background-color: #fff;
    margin-top: 5px;
    border-radius: 20px;
    padding: 5px;

    p {
      text-align: center;
      margin-bottom: 0;
    }
  }
}

::ng-deep .tour-click-blocker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  z-index: 1102;
}

::ng-deep .tour-fade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1099;
  background-color: #000;
  opacity: 0.25;
}

::ng-deep .tour-highlight {
  position: absolute;
  z-index: 1100;
  background: #fff;
  transform: translate3d(0, 0, 0);
  transition: all 1s ease;
}
