.tour-new-popper {
  position: absolute;
  will-change: transform;
  top: 0px;
  left: 0px;
  z-index: 1200;
  min-width: 320px;
  text-align: left;
  border-radius: 8px;
  padding: 20px;
  background: #fff;
  transform: translate3d(0, 0, 0);
  margin-top: 20px;
  transition: all 300ms ease-out;

  .header {
    background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .title {
      font-size: large;
    }
  }

  .content {
    font-size: 13px;
  }

  .controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .stepper {
    background-color: grey;
    p {
      text-align: center;
    }
  }
}

::ng-deep .tour-click-blocker {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
  z-index: 1102;
}

::ng-deep .tour-fade {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1099;
  background-color: #000;
  opacity: 0.25;
}

::ng-deep .tour-highlight {
  position: absolute;
  z-index: 1100;
  background: #fff;
  transform: translate3d(0, 0, 0);
  transition: all 1s ease;
}
